DATABASE_URL=postgresql://user:password@localhost:5432/mltestsuite?sslmode=disable
JWT_SECRET=change-me-in-production
PORT=8080
ENV=development
CLOUDINARY_CLOUD_NAME=dqwz33vyh
CLOUDINARY_API_KEY=582194342234832
CLOUDINARY_API_SECRET=your-secret-here
